* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
body {
    background: rgb(251, 255, 250);
    color: rgb(87, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a { color: blue;

}
img {
    max-width: 50%;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
}
.main-menu {
    position: relative;
    text-align: center;
}
.menu-icon {
cursor:pointer;
display: inline-block;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}
@media screen and (min-width: 768px) { 
    header, 
    footer {
        clear: both;
    }
}

.main-nav{
   display:inline-block;
}

.header {
    background: rgb(166, 245, 150); 
    color: rgb(87, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: fit-content;
    width:100%;
    text-align:center;
}

.header-logo{
    width:10%; 
    display:inline-block;
    padding:0px;
}

.header-text{
    float:right; 
    font-size:90%;
    width:75%; 
    display:inline-block;
    padding:0px
}

a{
    font-size:55%;
}

.image-row{
   text-align:center;
}

.image-column{
    width:40%;
    display:inline-block;
    text-align:center;
    vertical-align: top;
}

.image-header{
    font-size:12pt;
    color:black;
}

.actual-image{
    max-width:100%;
}


.about-us-content-row{
    width: 100%;
    height: fit-content;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.about-us-row-title{
    width:15%;
    display:inline-block;
    vertical-align: top;
    float: left;
    font-size: 50%;

}

.about-us-row-text{
    width:30%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.about-us-image-holder{
    display: inline-block;
    width: 30%;
}


.contact-holder{
    text-align:center;
}


.contact-info-holder{
    display: inline-block;
    text-align:center;
    width:100%;
}

.contact-info{
    text-align: center;
    width: 54%;
    display: inline-block;
}

form{
    display: inline-block;
    width:57%;
}

#form-holder{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.form-input{
    display: block;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

form{
    text-align: left;
}
.error-message{
    color: red;
    text-align: left;
    font-size: 8pt;
}

.error-border{
    border-color:red;
}

#message{
    display: block;
    resize: vertical;
    width:100%;
    min-height: 80px;
    font-family: sans-serif;
    color: black;
}

#form-submit{
    width: 100%;
    margin: 10px 0px;
    background:#01b701;
    color: black;
    font-weight: 700;
    border-radius: 4px;
    font-size: 12pt;
}

#form-submit:hover{
    cursor:pointer;
    background: #00c500;
}



footer {
    background: rgb(166, 245, 150);
    color: rgb(87, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    font-size: 9pt;
    position: relative;

}
.social-link-button{
    
}

.social-link-img{
    padding: 0px;
    position: absolute;
    top: 4px;
    right: 61px;
}

#twitter-link{
    right:27px;
}

#special-footer{
    position:absolute;
    bottom:0px;
    left:0px;
}

