* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

p{
 color:black;
}

html{
  padding:0px;
}
body {

    color: rgb(87, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
}

h2{
  color:black;
}

#page-container{
      min-height: 100vh;
    height: fit-content;
  position: relative;
  padding:0px;
}

.about-us-img{
  height:200px;
}

img {
    max-width: 50%;
    border-radius:20px;
}

#water-mark{
  position: relative;
  left: 0px;
  padding: 0px;
  max-width: 100%;
  border-radius: 0px;

}
nav a {
    text-transform: uppercase;
    text-decoration: none;
}


main{
  padding:0px;
}
.main-menu {
  position: relative;
      text-align: center;
      /* background: whitesmoke; */
      border-top: 1px solid #00a2e0;
      border-bottom: 1px solid #00a2e0;
}

.menu-icon {
  cursor:pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}


@media screen and (min-width: 768px) {
    header,
    footer {
        clear: both;
    }
}

.main-nav{
   display:inline-block;
}

.header {
  background: rgb(255, 255, 255);
      color: rgb(4, 4, 4);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: fit-content;
      width: 100%;
      text-align: center;

}


#header-holder{
  box-sizing: border-box;
      margin: 0;
      display: inline-block;
      position: relative;
}

.header-logo{
  width: 10%;
      display: inline-block;
      padding: 0px;

      position: relative;
      top: 9px;
}

.featured-text-container{
  padding: 0px;
    background:white;
    color: black;
}

#map-image{
      max-width: 305px;
}
.header-text{
  float: right;
  color: green;
  font-size: 2.5vw;
  width: 100%;
  display: inline-block;
  padding: 0px;
  font-weight: 500;
}

a{
  font-size: 0.9em;
      color: #046387;
      font-weight: 600;
}

.image-row{
   text-align:center;
}

.image-column{
    width:40%;
    display:inline-block;
    text-align:center;
    vertical-align: top;
}

.image-header{
    font-size:12pt;
    color:black;
    padding:0px;
}

.actual-image{
    max-width:100%;
    width:303px;
    border-radius: 30px;
}


.about-us-content-row{
    width: 100%;
    height: fit-content;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.about-us-row-title{
    width:15%;
    display:inline-block;
    vertical-align: top;
    float: left;
    font-size: 50%;

}

.about-us-row-text{
    width:30%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.about-us-image-holder{
    display: inline-block;
    width: 30%;
}


.contact-holder{
    text-align:center;
}


.contact-info-holder{
    display: inline-block;
    text-align:center;
    width:100%;
}

.contact-info{
    text-align: center;
    width: 54%;
    display: inline-block;
}

.contact-info-text{
  font-size: 0.8em;
      color: black;
      padding: 6px;
}

label{
  color:black;
  font-size: 1em;
}

form{
    display: inline-block;
    width: fit-content;
}

#form-holder{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.form-input{
    display: block;
    min-width: 240px;
    margin: 0px 0px 20px 0px;
}

form{
    text-align: left;
}
.error-message{
    color: red;
    text-align: left;
    font-size: 8pt;
}

.error-border{
    border-color:red;
}

#message{
  display: block;
      resize: vertical;
      width: 100%;
      height: 80px;
      max-width: 400px;
      min-height: 40px;
      max-height: 200px;
      font-family: sans-serif;
      color: black;
}

#form-submit{
  width: 100%;
      max-width: 100px;
      margin: 10px 0px;
      background: #0189b7;
      color: white;
      font-weight: 700;
      border-radius: 27px;
      font-size: 12pt;
}

#form-submit:hover{
    cursor:pointer;
    background: #009cc5;
}


.footer-column{
  position: absolute;
bottom: 0px;
}
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  font-size: 9pt;
  bottom: -100px;
  padding: 0px;
  color: #5f5c5c;
  height: 70px;
  left: 0px;
  border-top: 1px solid #b2b2b2;
  position: absolute;
  background: #009cc51a;
}
.social-link-button{

}

.social-link-img{
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  right: 61px;
  width: 31px;

}

.twitter-link{
  right:8px;
}


#special-footer{
    position:absolute;
    bottom:0px;
    left:0px;
}
